[submodule "Houdini_Personal_Resources"]
	path = Houdini_Personal_Resources
	url = https://github.com/benshurts/Houdini_Personal_Resources.git
[submodule "Main_Project/packages/qLib"]
	path = Main_Project/packages/qLib
	url = https://github.com/qLab/qLib.git
[submodule "Main_Project/packages/MOPS"]
	path = Main_Project/packages/MOPS
	url = https://github.com/toadstorm/MOPS.git
[submodule "Main_Project/packages/SideFXLabs"]
	path = Main_Project/packages/SideFXLabs
	url = https://github.com/sideeffects/SideFXLabs.git
[submodule "Main_Project/packages/houdini_bookmarks"]
	path = Main_Project/packages/houdini_bookmarks
	url = https://github.com/gorrod/houdini_bookmarks.git
[submodule "Main_Project/packages/Aelib"]
	path = Main_Project/packages/Aelib
	url = https://github.com/Aeoll/Aelib.git
[submodule "Main_Project/packages/HMT"]
	path = Main_Project/packages/HMT
	url = https://github.com/andrew-lowell/HMT.git
[submodule "Main_Project/packages/DMNK-Tools"]
	path = Main_Project/packages/DMNK-Tools
	url = https://github.com/DominikLingenover/DMNK-Tools.git
