[submodule "Houdini_Personal_Resources"]
	path = Houdini_Personal_Resources
	url = git@github.com:benshurts/Houdini_Personal_Resources.git
[submodule "Main_Project/packages/qLib"]
	path = Main_Project/packages/qLib
	url = git@github.com:qLab/qLib.git
[submodule "Main_Project/packages/MOPS"]
	path = Main_Project/packages/MOPS
	url = git@github.com:toadstorm/MOPS.git
[submodule "Main_Project/packages/SideFXLabs"]
	path = Main_Project/packages/SideFXLabs
	url = git@github.com:sideeffects/SideFXLabs.git
[submodule "Main_Project/packages/houdini_bookmarks"]
	path = Main_Project/packages/houdini_bookmarks
	url = git@github.com:Houdini-Packages/houdini_bookmarks.git
[submodule "Main_Project/packages/Aelib"]
	path = Main_Project/packages/Aelib
	url = git@github.com:Houdini-Packages/Aelib.git
[submodule "Main_Project/packages/HMT"]
	path = Main_Project/packages/HMT
	url = git@github.com:Houdini-Packages/HMT.git

[submodule "Main_Project/packages/DMNK-Tools"]
	path = Main_Project/packages/DMNK-Tools
	url = git@github.com:Houdini-Packages/DMNK-Tools.git
